
<form align="center">
  <br>
  <br>
  <mat-form-field class="full-width">
    <input matInput type="password" placeholder="Password"
      [formControl]="password">
    <mat-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input matInput type="password" placeholder="Confirm Password"
      [formControl]="confirmPassword">
    <mat-hint *ngIf="password.value != confirmPassword.value">Password are not matching</mat-hint>
    <mat-error *ngIf="confirmPassword.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <br>
  <button mat-raised-button
    [disabled]="!password.valid ||
    !confirmPassword.valid || password.value != confirmPassword.value" color="primary" (click)="register(password.value,
    confirmPassword.value)">Reset password!
  </button>

  <p>
    <ngb-alert *ngIf="successMessage" type="success" [dismissible]="false"
      (close)="successMessage= null">{{ successMessage }}</ngb-alert>

    <ngb-alert *ngIf="failMessage" type="danger" [dismissible]="false"
      (close)="failMessage= null">{{ failMessage }}</ngb-alert>
  </p>

</form>
<div align="center">
  <button routerLink="/login">Login</button>
</div>
